.main {
  display: flex;
  height: 100vh;
  width: 100wh;
  gap: 80px;
  justify-content: center;
  padding: 50px;
  background-color: white;
}

.mainGallery {
  position: relative;
}

.sidebar {
  position: relative;
  width: 40wh;
}
