.main {
  display: flex;
  justify-content: flex-start;
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: white;
}

.content {
  max-width: 1300px;
  padding: 120px 160px;
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 135px;
} 

.sidebar {
  min-width: 250px;
}

/* About Line */
.about {
  width: 800px; 
}

.aboutTitle {
  font-size: 18px;
  font-weight: bold;
  color: #5F5F5F; 
  width: 100%;
  margin-bottom: 10px;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    color: #484848;
  }

  .greyP {
    display: inline-flex;
    gap: 5px;
    color: #808080;
    font-weight: bold;
  }
}

.divider {
  height: 1px;
  background-color: #E5E5E5;
  margin: 15px 0;
  width: 100%;
}


.mainGallery {
  width: 100%;
  position: relative;
}