
/* Case Studies */
.caseStudies {
  padding-top: 50px;
  }
  
  .caseStudiesTitle {
    font-size: 18px;
    font-weight: bold;
    color: #5F5F5F; 
    padding-bottom: 10px;
  }
  
  .cardContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .card {
    position: relative;
    width: 700px;
    height: 300px;
    background-color: #FAE3E3;
    border-radius: 20px;
  }
  
  .cardContent {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
  }
  
  .cardImage {
    position: relative;
    width: 600px;
    height: 200px;
    margin-top: 20px;
    box-shadow: 0px 2px 8px #484848;
    border-radius: 6px;
  }
  
  .cardText {
    overflow: hidden;
    padding-top: 50px;
    padding-left: 30px;
    h1 {
      font-size: 40px;
      color: #5F5F5F;
      font-weight: bold;
    }
  }